<!DOCTYPE html>
<html lang="en">
    <head>
        {% include '../header.html' %}

        <title>Register | Menlo Atherton Coding</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'register/css/form.css' %}">
        
    </head>

    <body>
        <!-- TOP NAVBAR -->
        {% include '../navbar.html' %}

        <!-- CONTENT -->
        <section id="members" class="content">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-6">
                        <h1 class="text-white text-center">Register</h1>
                        <form action="" method="post">{% csrf_token %}
                            <table class="table bg-ma-dark">
                                <thead>
                                    <tr>
                                    {% for field in team_form %}
                                        <td>
                                            {{ field }}
                                            {% for error in field.errors %}
                                                <p class="error text-white">{{ error }}</p>
                                            {% endfor %}
                                            {% for error in field.non_field_errors %}
                                                <p class="error text-white">{{ error }}</p>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                </thead>
                                {{ contestant_formset.management_form }}
                                {% for form in contestant_formset.forms %}
                                    <thead>
                                        <tr>
                                        {% for field in form %}
                                        {% if not field.is_hidden %}
                                                <td>
                                                    {{ field }}
                                                    {% for error in field.errors %}
                                                        <p class="error text-white">{{ error }}</p>
                                                    {% endfor %}
                                                    {% for error in field.non_field_errors %}
                                                        <p class="error text-white">{{ error }}</p>
                                                    {% endfor %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% endfor %}
                            </table>
                                <p><input type="submit" class="btn btn-transparent" value="Register"/></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        {% include '../footer.html' %}
        <script>$(document).ready(function(){$('.card').click(function(){window.open($(this).find('a').attr('href'),'_blank');});$('.nav-item').eq(1).addClass('active');});</script>
    </body>
</html>