@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #880423;
    background-image: url("../images/bg-repeat.png");
}

h1 {
    font-size: 4rem;
}

h1,span {
    font-family: 'Josefin Sans', sans-serif;
}

.content {
    height: 100vh;
    padding-top: 50vh;
    padding-bottom: 9rem;
}

.bg-ma-dark {
    background-color: #750726;
    background-image: url("../images/bg-repeat.png");
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.btn-transparent {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.50);
    transition: all .15s ease-in-out;
}

nav.navbar {
    box-shadow: 0px 1px 0px #fff;
}
